[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastGHQuad"]
	path = fastGHQuad
	url = https://github.com/awblocker/fastghquad
[submodule "ipfp"]
	path = ipfp
	url = https://github.com/awblocker/ipfp
